.main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: url(../../../public/images/regBack3.jpg)  no-repeat;
  
    height: 600px;
    background-size: 100% 100%;
    background-position-x: left;
}
.log {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgba( 108, 158, 226, 0.2 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 3px );
   -webkit-backdrop-filter: blur( 6px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.25 );
   height: 450px;
   width: 400px;
   padding-top: 40px;
   padding-left: 20px;
   padding-right: 20px;
   margin: auto;
   
   
}
.back2{
    background: url(../../../public/images/logBack11.jpg)  no-repeat;
    padding-top: 60px;
    background-size: 100% 100%;
    background-position: left;
    width: 80%;
    background-color: white;
    height: 100%;
}
/* .logBox{
    background: url(../../../public/images/logBack.jpg) no-repeat;
    background-size: 100% 100%;
    width: 65%;
    background-color: white;
    height: 80%;
} */

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

/* Style for the TextField */
.textF2 {
    width: 100%;
    color: white !important;
}
.textF2 .MuiOutlinedInput-root {
    border-radius: 25px;
    
}
.textF2 .MuiInputBase-input {
    color: white;
  }
  .textF label{
    color: white;
  }

/* Style for the error messages */
.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}
/* 
.text-field .MuiOutlinedInput-root {
    border-color: rgb(255, 98, 0);
   
} */

/* .text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgb(227, 170, 27);
   
} */

/* .text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(126, 225, 33);
   
} */


/* .error-text {
    color: red;
    font-size: 12px;
} */

.submit-button {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #1976d2;
    color: white;
}

.submit-button:hover {
    background-color: #115293;
}

@media (max-width: 575.98px){
    .log {
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 40px;
        height: 300px;
        margin: 0px;
    }
    .back2{
        width: 90%;
        padding-right: 10px;
        padding-left: 5px;
    }
    .textF .MuiInputBase-input {
        font-size: 18px; /* Change font size here */
    }
    
    .textF .MuiInputLabel-root {
        font-size: 18px; /* Change label font size here */
    }
    
    .btn{
        width: 120px;
        height: 30px;
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }
  .regis p Link .divert {
    color: blue; /* Change this to the color you want */
  }
  /* {
        font-size: 18px;
        text-decoration: none !important;
        color: white;
    } */
    
}
@media (min-width: 576px) and (max-width: 767.98px){
    .log {
        width: 80%;
        height: 500px;
        padding-top: 20px;
       
      
    }
 
   
    .textF2 .MuiOutlinedInput-root {
        border-radius: 25px;
        border: 5px;
        height: 80px;
        width: 400px;
        border: 1px solid black;
       
    }
    .main2{
        height: auto;
        padding: 5px;
    }
    .textF2 .MuiInputBase-input {
        font-size: 22px; /* Change font size here */
    }
    
    .textF2 .MuiInputLabel-root {
        font-size: 22px; /* Change label font size here */
    }
    .btn{
        width: 150px;
        height: 50px;
        font-size: 22px !important;
    }
    /* .divert{
        font-size: 25px;
        text-decoration: none;
        color: rgb(0, 30, 255);
    } */
    
}
@media (min-width: 768px) and (max-width: 991.98px){
    .log {
        width: 90%;
        height: 450px;
        padding-top: 80px;
       padding-left: 50px;
       padding-top: 40px;
       /* align-items: flex-start; */
       /* justify-content: flex-start; */
       /* height: auto; */
      
    }
    .back2{
        width: 90%;
    }
    .main2{
        height: 1200px;
    }
    .textF2 .MuiOutlinedInput-root {
        border-radius: 25px;
        border: 5px;
        height: 90px;
        width: 600px;
        border: 1px solid black;
       
    }
    .textF2 .MuiInputBase-input {
        font-size: 22px; /* Change font size here */
    }
    
    .textF2 .MuiInputLabel-root {
        font-size: 22px; /* Change label font size here */
    }
    .main2{
        height: auto;
    }
    .btn{
        width: 180px;
        height: 50px;
        font-size: 22px !important;
        margin-bottom: 40px !important;
    }
    .divert{
        font-size: 28px;
        text-decoration: none;
        color: rgb(0, 30, 255);
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .log {
        width: 90%;
        height: 450px;
        padding-top: 80px;
       padding-left: 50px;
       padding-top: 40px;
       /* align-items: flex-start; */
       /* justify-content: flex-start; */
       /* height: auto; */
      
    }
    .back2{
        width: 90%;
    }
    .main2{
        height: 1200px;
    }
    .textF2 .MuiOutlinedInput-root {
        border-radius: 25px;
        border: 5px;
        height: 90px;
        width: 600px;
        border: 1px solid black;
       
    }
    .textF2 .MuiInputBase-input {
        font-size: 22px; /* Change font size here */
    }
    
    .textF2 .MuiInputLabel-root {
        font-size: 22px; /* Change label font size here */
    }
    .main2{
        height: auto;
    }
    .btn{
        width: 180px;
        height: 50px;
        font-size: 22px !important;
        margin-bottom: 40px !important;
    }
    .divert{
        font-size: 28px;
        text-decoration: none;
        color: rgb(0, 30, 255);
    }
}

/* @media (max-width: 320px) {
    .glass {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .error-text {
        top: 40px;
    }

    .login-container {
        height: 400px;
        background-position-x: -400px;
        background-position: left;

    }
} */